DOMAIN=pampeliska.nadrasky.cz
OWNER_EMAILS=v.nadrasky@gmail.com
POSTGRES_PASSWORD=zmenit-na-dlouhe-heslo
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxx
BACKUP_TOKEN=nahodny-dlouhy-token
# Sdílená rclone konfigurace s Invoicerem (remote "onedrive" + šifrovaný "onedrive-crypt"), zálohy do podsložky pampeliska/
RCLONE_CONFIG_DIR=/opt/invoicer/rclone
RCLONE_REMOTE=onedrive-crypt:pampeliska/
BACKUP_SCHEDULE=45 2 * * *
